*~
*.o
Makefile
Makefile.in
m4/
src/.deps
src/ristretto
src/marshal.[ch]
src/tumbler.[ch]
src/main_window_ui.h
src/stamp-marshal.h
src/tumbler-service-dbus.xml
autom4te.cache
ABOUT-NLS
INSTALL
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.ac
configure.in
depcomp
docs/manual/C/ristretto.xml
install-sh
missing
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/stamp-po
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/ristretto.pot
org.xfce.ristretto.appdata.xml
org.xfce.ristretto.desktop
stamp-h1
ChangeLog
