*~
*.o
Makefile
Makefile.in
src/.deps
src/ristretto
src/marshal.[ch]
src/tumbler.[ch]
src/main_window_ui.h
src/stamp-marshal.h
src/tumbler-service-dbus.xml
autom4te.cache
INSTALL
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
configure.in
depcomp
docs/manual/C/ristretto.xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
po/ristretto.pot
org.xfce.ristretto.appdata.xml
org.xfce.ristretto.desktop
stamp-h1
ChangeLog
